body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #000; /* Set background color to black */
  color: #fff; /* Set text color to white */
}

.container {
  display: flex;
  height: 100vh;
}

.left {
  flex: 1;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.greeting {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}

.cv-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

.right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #111; /* Darken the background color */
}

.logo {
  font-size: 48px;
  margin-bottom: 20px;
  color: #fff; /* Set logo color to white */
}

.links {
  display: flex;
  gap: 20px;
}

.links a {
  text-decoration: none;
  color: #fff; /* Set link color to white */
}

/* Set particles container as the background */
#particles-js {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Place particles behind other content */
  background-color: #000; /* Set particles background color to black */
}


.skills-section {
  padding: 50px;
  background-color: #333; /* Dark background color for the skills section */
  color: #fff;
}

.skill {
  margin-bottom: 20px;
}

.skill-name {
  font-weight: bold;
}

.skill-progress {
  width: 100%;
  background-color: #555; /* Gray background for progress bars */
  height: 20px;
  border-radius: 10px;
  position: relative;
  margin-top: 5px;
}

.progress-bar {
  height: 100%;
  border-radius: 10px;
  position: absolute;
}

/* Color-coded progress bars */
.python {
  background-color: #4CAF50; /* Green for Python */
  width: 90%; /* Adjust percentage as needed */
}

.csharp {
  background-color: #2196F3; /* Blue for C# */
  width: 75%; /* Adjust percentage as needed */
}

.html {
  background-color: #FFC107; /* Yellow for HTML */
  width: 80%; /* Adjust percentage as needed */
}

.css {
  background-color: #FF5722; /* Orange for CSS */
  width: 85%; /* Adjust percentage as needed */
}

.js {
  background-color: #E91E63; /* Pink for JavaScript */
  width: 70%; /* Adjust percentage as needed */
}

.batchscript {
  background-color: #9C27B0; /* Purple for Batch Script */
  width: 60%; /* Adjust percentage as needed */
}

.mysql {
  background-color: #607D8B; /* Gray-blue for MySQL */
  width: 65%; /* Adjust percentage as needed */
}
